{% extends '::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('/bundles/pmsuser/css/Base/index.css') }}" rel="stylesheet" />
    <link href="{{ asset('/bundles/pmsproject/css/category.css') }}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="fluid-row">
    <div class="span12">
        <h1>
            {{ 'project categories' | title }}
            {% if is_granted("ROLE_ADMIN") %}
            <a href="{{ path( 'pms_category_new' ) }}" alt="{{ 'add a category' }}">
                <i class="icon-plus pull-right"></i>
           </a>
           {% endif %}
        </h1>

        {% block datatable %}
        <table class="table table-striped">
            <tr>
                <th>
                    <a href="#" class="sort-toggle">{{ 'name' | title }}</a>
                </th>
                <th>{{ 'description' | title }}</th>
                <th>{{ 'parent' | title }}</th>
                <td></td>
            </tr>
            {% for category in categories %}
            <tr>
                <td><a href="{{ path( 'pms_category_show', { 'slug': category.slug } ) }}">{{ category.name }}</a></td>
                <td>{{ category.description }}</td>
                <td>
                    {% if category.parent is not empty %}
                    <a href="{{ path( 'pms_category_show', { 'slug': category.parent.slug } ) }}">{{ category.parent.name }}</a>
                    {% else %}
                    <em>{{ 'none' | title }}</em>
                    {% endif %}
                </td>
                {% include 'PMSUserBundle:Datatable:datatable.controls.html.twig' with { 'slug': category.slug, 'type': 'category' } %}
            </tr>
            {% else %}
            <tr>
                <td colspan="5">
                    <em>{{ 'no categories found.' | title }}</em>
                </td>
            </tr>
            {% endfor %}
        </table>
        {% include 'PMSUserBundle:Datatable:datatable.footer.html.twig' with { 'pager': pager } %}
        {% endblock %}
    </div>
</div>
{% endblock %}
