{% extends '::layout.html.twig' %}

{%  block content %}
    {% block carousel %}
        <div id="myCarousel" class="carousel slide">
            <div class="carousel-inner">
                {% for key, item in carousel.items %}
                    {% set active = (0 == key ? 'active' : '') %}
                    <div class="item {{ active~' item'~(1+key) }}" style="background: transparent url('{{ item.img }}');">
                        <p class="caption">{{item.caption[:30] }}</p>
                    </div>
                {% endfor %}
            </div>
            {% if 1 < carousel.items|length %}
            <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
            <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
            {% endif %}
        </div>
    {% endblock %}
    {% block home_columns %}
        <div class="row home-columns">
            <div class="span4 home-column clearfix">
                <i class="icon-list-alt pull-left"></i>
                <div class="content">
                    <h2>{{ 'dynamic portfolios' | title }}</h2>
                    <p>The management system maintains a level look and feel, ensuring your content looks amazing no matter what.</p>
                </div>
            </div>
            <div class="span4 home-column clearfix">
                <i class="icon-group pull-left"></i>
                <div class="content">
                    <h2>{{ 'multi-user interface' | title }}</h2>
                    <p>An easy to manage user hierarchy is implemented to help maintain smooth consistant flow amidst a development </p>
                </div>
            </div>
            <div class="span4 home-column clearfix">
                <i class="icon-picture pull-left"></i>
                <div class="content">
                    <h2>Slideshow</h2>
                    <p>Show off your best work on the homepage in a slideshow that is easily customisable, and easy to add to any other page!</p>
                </div>
            </div>
        </div>
    {% endblock %}
{% endblock %}
{#
{% block stylesheets %}
  {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
#}
