{% extends '::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('/bundles/pmsuser/css/Base/new.css') }}" rel="stylesheet" />
    <link href="{{ asset('/bundles/pmsuser/css/Base/form.css') }}" rel="stylesheet" />
    <link href="{{ asset('/bundles/pmsproject/css/status.css') }}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="row-fluid">
    <div class="span8 container">
        <h1>{{ 'update a status' | title }}</h1>
        <form action="{{ path( 'pms_status_new' ) }}" method="post" {{ form_enctype( form ) }}>
        {% block form %}
            <div id="form-errors" class="hidden">
                {{ form_errors( form ) }}
            </div>
            <div class="row-fluid">
                <div id="left-pane" class="pull-left">
                    {{ form_row( form.name ) }}
                    {{ form_row( form.description ) }}
                </div>
                <div id="right-pane" class="pull-right">
                    {{ form_rest(form) }}
                </div>
            </div>
            <div>
                <button class="btn btn-primary btn-block" name="submit">{{ 'go' | upper }}</button>
            </div>
        {% endblock %}
        </form>
    </div>
    <div class="span4 container"></div>
</div>
{% endblock %}
