{% extends '::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('/bundles/pmsuser/css/Base/show.css') }}" rel="stylesheet" />
    <link href="{{ asset('/bundles/pmsproject/css/status.css') }}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="fluid-row">
    <div class="span12">
        <h1>
            <a href="{{ path('pms_status_index') }}">{{ 'statuses' | title }}</a>
            <i class="icon-arrow-right"></i>
            <a href="#">{{ status.name | title }}</a>
        </h1>
    </div>
    <div class="span8">
        <h1>{{ status.name | title }}</h1>
        <p>{{ status.description }}</p>
    </div>
    <div class="span4"></div>
</div>
{% endblock %}
