<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
     Remove this if you use the .htaccess -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="en" />
    <link rel="alternate" type="application/rss+xml" href="/feed/" title="RSS" />
    <title>{% block title %}[PMS]Project Management System{% endblock %}</title>
    <meta name="description" content="Project Management System">
    <meta name="author" content="david durost">
<!--  Mobile viewport optimized: j.mp/bplateviewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Place favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    <link rel="apple-touch-icon" href="{{ asset('/apple-touch-icon.png') }}">
<!-- CSS : implied media="all" -->
    {% block stylesheets %}
      <link rel="stylesheet" href="{{ asset('/bundles/pmsuser/css/bootstrap.css') }}">
      <link rel="stylesheet" href="{{ asset('/bundles/pmsuser/css/pms.css') }}" />
    {% endblock %}
  </head>
  <body>
    <header>
    {% block header %}
        <nav id="main">
        {% block mainmenu %}
            <menu>
              {% if is_granted( 'ROLE_USER' ) %}

              {% else %}
                {{ millwright_menu_render('nonAuthMenu') }}
              {% endif %}
            </menu>
        {% endblock %}
        </nav>
    {% endblock %}
    </header>
    <section id="content">
    {% block content %}
    {% endblock %}
    </section>
    {% block javascripts %}
    {% endblock %}
  </body>
</html>
