{% block contentpiece %}
<div class="content-header" id="{{ content.name }}">
    <div class="content-icon">
        {% block icon %}
        <a href="{{ content.route }}">
            <img src="{{ content.icon }}" />
        </a>
        {% endblock %}
    </div>
    <div class="content-header-title">
        {% block title %}
            {{ content.title }}
        {% endblock %}
    </div>
</div>
<div class="content-body">
    <div class="content-body-sidebar">
        <menu class="content-body-sidebar">
            {% block sidebar_content %}
                {{ content.sidebar }}
            {% endblock %}
        </menu>
    </div>
    <div class="content-body-content">
        {%block  main_content %}
            {{ content.content }}
        {% endblock %}
    </div>
</div>
{% endblock %}
